@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0px;
  margin: 0 auto;
  font-family: Roboto;
}

header {
  
  background-color: #000000;
  padding: 16px;

  ul {
    max-width: 1600px;
    display: flex;
    list-style-type: none;
    font-size: 16px;
    text-decoration: none;

    li {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
          }
    }

    a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
      }
  }
}

.headerCenter {
  display: flex;

  li {
    margin: 0 23px
  }

  a:hover {
    color: #999999;
  }
}

.loginBtn {
  text-align: center;
  width: 160px;
  border: 1px solid #ffffff;
  border-radius: 5px;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        color: #000000;
        background-color: #C4C4C4;
    }

    &:active {
        background-color: #999999;
    }
  }
}

.mainPage {
  max-width: 1920px;
  display: flex;
  padding: 261px 160px 140px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h1 {
    width: 550px;
    font-size: 48px;
    font-weight: 300;
  }

  img {
    margin: 21px;
    height: 180px;
  }
}

.first {
  background-image: url(./images/white-drone-hovering-bright-blue-sky.png);
}

.second {
  background-image: url(./images/mainpage-second-background-image.png);

  h1 {
    color: #ffffff;
  }
}

.third {
    background-position-x: 70px;
    background-size: contain;
    flex-direction: column;
    padding: 37px 0 0 0;
    background-image: url(./images/sitronics_company.png);

    .thirdDescription {
        display: flex;
    }

    .companyDescription {
        width: 660px;
        padding: 147px 0 200px 0;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
    }
}

.companyImage {
  width: 50%;
  display: flex;
  flex-wrap: wrap;

  img:hover {
    filter:brightness(0.8);
    cursor: pointer;
  }
}

.serviceName {
  padding: 37px 0 0 0;
  width: 50%;
  display: flex;
  align-items: center;
}

.serviceName h1 {
  text-align: center;
}

.third .serviceName h1 {
  font-size: 64px;
  line-height: 75px;
  font-weight: 300;
}

.footer {
  background-color: #222224;

  ul {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    padding: 35px 0 78px;

    li {
        font-family: 'Lato';
    }

    p {
        margin: 5px;
        color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }
  }
}

.socialNetwork {
  display: flex;
  list-style-type: none;

  .cube {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    
    &:hover {
      cursor: pointer;
      background-color: #999999;
    }
  }

  li {
    img {
        margin: 5px;

        &:hover {
            filter: brightness(0.8);
            cursor: pointer;
        }
    }
  }
}

.loginPage {
    background-color: #FFFFFF;
    display: flex;
    padding: 176px 0;
}

.loginForm {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 36px 66px 38px;
    border-radius: 80px;
    background-color: #F2F2F2;

    h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 22.26px;
    }

    h4 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 25.72px;
    }

    p {
        margin-bottom: 22px;
    }

    .input {
        width: 512px;
        height: 70px;
        border: none;
        border-radius: 10px;
        background-color: #ffffff;
        margin: 26px 0;
        padding: 0 42px;
        box-sizing: border-box;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #000842;

        &::placeholder {
            color: #000842;
        }

        button {
            
            &:hover {
                filter: brightness(0.8);
                cursor: pointer;
            }
        }
    }

    .checkbox {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            margin: -15px;
            width: 35px;
            -ms-transform: scale(2);
            -moz-transform: scale(2);
            -webkit-transform: scale(2);
            -o-transform: scale(2);
            transform: scale(2);
        }

        p {
            margin: 0px;
        }
    }

    .loginError {
        width: 100%;
        color: #ff0000;
        margin-bottom: 0px;
        position: absolute;
        bottom: 40.5%;
        left: 0;
        text-align: center;
    }

    .signupError {
        width: 100%;
        color: #ff0000;
        margin-bottom: 0px;
        position: absolute;
        bottom: 30.5%;
        left: 0;
        text-align: center;
    }

    .submitButton {
        width: 512px;
        height: 70px;
        border: none;
        background-color: #FFFFFF;
    }

    .restore {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 22px;
        
        button {
            margin: 0;
            border: none;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color:#000842;
        }

        p {
            margin: 0;
            padding-bottom: 0;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 0px;
            
            a {
                text-decoration: none;
                color:#000842
            }
        }
    }
}